<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Course details</title>

  <link rel="stylesheet" href="styles.css" />
  <script type="text/javascript">
        $(function() {
            $('.menux p').click(function() {
                $(this).siblings('ul').slideUp(200);
                $(this).next('ul').slideToggle(200);
            });
            $('.menux ul a').click(function() {

                $('iframe').attr("src", $(this).attr("url"));
                $('.menu_title').html($(this).attr("title"));
            });
        })
    </script>
</head>

<body>

<div class="header">
  <div class="logo">School Courses Catalog</div>
  <div class="user">
    <i></i>student
    <ul>
      <li><a href="javascript:void(0)" onclick="window.location.href='{{url_for('')}}'">修改密码</a></li>
      <li><a href="javascript:void(0)" onclick="window.location.href='{{url_for('')}}'">退出登录</a></li>
    </ul>
  </div>
</div>
<div class="topnav">
  <a href="#">Course management</a>
  <a href="#">Course details</a>
  <div style="float:right">
    <input placeholder=" 请输入关键字 "><button>search</button>
  </div>
</div>

<div>
  <style>
            table,
            td,
            th {
                border: 1px solid black;
            }

            table {
                width: 100%;
            }

            th {
                height: 50px;
            }
        </style>


  <div id="basic_information">
    <div id="basic_information_text">
      <div class="l1">
        <div style="min-width: 100px; margin: 0 10px"> Course Name</div> <div style="min-width: 100px; margin: 0 10px"> Course Name</div>
      </div>
      <div class="l1">
        <div style="min-width: 100px; margin: 0 10px">Credit Hours</div> <div style="min-width: 100px; margin: 0 10px">Credit Hours</div>
    </div>

    </div>
  </div>
  <!--    课程名称，学时以及课程封面图片-->
  <div id="briefinfo">
    <div style="min-width: 300px">Brief description of the course</div>
    <div style="min-width: 300px">Brief description of the course</div>
  </div>
  <!--    课程简介-->
  <div>
    <style>
            table,
            td,
            th {
                border: 1px solid black;
            }

            table {
                width: 100%;
            }

            th {
                height: 50px;
            }
        </style>
    <table>
      <table>
        <thead>
        <tr>
          <th>Chapter</th>
          <th>File</th>
          <th>Operate</th>
        </tr>
        </thead>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>
            <button>Download</button>
          </td>
        </tr>
      </table>
      <table>
        <td>
          <button>first page</button>
          <button>last page</button>
          <button>next page</button>
          <button>trailer page</button>
          <input value="1 " />
          <button>turn</button>
        </td>
      </table>
    </table>
  </div>



</div>
</body>

</html>