<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8" />
  <title>School Courses Catalog-student</title>
  <link rel="stylesheet" type="text/css" href="edit.css">
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="edit_password.css">
  <script type="text/javascript">
        $(function() {
            $('.menux p').click(function() {
                $(this).siblings('ul').slideUp(200);
                $(this).next('ul').slideToggle(200);
            });
            $('.menux ul a').click(function() {

                $('iframe').attr("src", $(this).attr("url"));
                $('.menu_title').html($(this).attr("title"));
            });
        })
    </script>

</head>

<body>

<div id="title_line" class="header">
  <div id="titlebox">
    <div id="title">School Courses Catalog</div>
    <div id="teacher_or_student">edit password</div>
  </div>
  <div class="topnav">
    <a href="#">Course management</a>
    <a href="#">Course details</a>
  </div>


  <div id="search_box">
    <input type="text" name="search" placeholder="Search the course">
    <button style="width: 60px">Search</button>
  </div>

  <div class="user">
    Student A
    <ul>
      <li><a href="javascript:void(0)" onclick="window.location.href='{{url_for('')}}'">Change password</a></li>
      <li><a href="javascript:void(0)" onclick="window.location.href='{{url_for('')}}'">Log out</a></li>
    </ul>
  </div>
</div>


<div class="login" id="login">
  <div class="d1">Your Old Password</div>
  <input type="password" class="in" id="old_pass" name="password" placeholder="Enter the old password">
  <div class="d1">New Password</div>
  <input type="password" class="in" id="new_pass" name="password" placeholder="Enter New Password">
  <div class="d1">Confirm Your Password</div>
  <input type="password" class="in" id="new_pass_confirm" name="password" placeholder="Enter New Password Again">

  <div class="d2">
    <button class="confirm" style="background-color: #f6cccb">Cancel</button>
    <button class="confirm" style="background-color: #d3e6d3">Save</button>
  </div>
</div>
</body>

</html>